services:
  gatus:
    container_name: gatus
    image: twinproduction/gatus
    restart: unless-stopped
    # ports:
    #   - "8080:8080"
    volumes:
      - ./gatus:/config
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    depends_on:
      - gatus
    # ports:
    #   - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.retention.time=30d"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    depends_on:
      - prometheus
    # ports:
    #   - "3000:3000"
    environment:
      - GF_SERVER_ROOT_URL=https://10.10.240.11
      # GF_SECURITY_ADMIN_USER: admin
      # GF_SECURITY_ADMIN_PASSWORD: change-me-now
      # GF_USERS_ALLOW_SIGN_UP: "false"
      # GF_AUTH_ANONYMOUS_ENABLED: "false"
      - GF_PLUGINS_PREINSTALL=grafana-clock-panel
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring

  nginx:
    container_name: nginx
    restart: unless-stopped
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/:/etc/nginx
    networks:
      - monitoring

volumes:
  prometheus-data:
    external: true
  grafana-data:
    external: true

networks:
  monitoring:
    driver: bridge
